--
-- PostgreSQL database dump
--

\restrict ooNkpfSbGSz9uW0x9ohhoyNRfsRc1HaTCBC6TsYuRHsF9ei2s0PrpXtqQxMOQOd

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aggregated_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aggregated_data (
    id bigint NOT NULL,
    dashboard_id uuid NOT NULL,
    graph_id uuid NOT NULL,
    dims jsonb NOT NULL,
    metrics jsonb NOT NULL
);


ALTER TABLE public.aggregated_data OWNER TO postgres;

--
-- Name: aggregated_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.aggregated_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.aggregated_data_id_seq OWNER TO postgres;

--
-- Name: aggregated_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.aggregated_data_id_seq OWNED BY public.aggregated_data.id;


--
-- Name: dashboard_access; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dashboard_access (
    user_id uuid NOT NULL,
    dashboard_id uuid NOT NULL,
    permission text NOT NULL,
    CONSTRAINT dashboard_access_permission_check CHECK ((permission = ANY (ARRAY['view'::text, 'edit'::text, 'admin'::text])))
);


ALTER TABLE public.dashboard_access OWNER TO postgres;

--
-- Name: dashboards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dashboards (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    description text,
    layout_id uuid,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    config jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.dashboards OWNER TO postgres;

--
-- Name: filters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.filters (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    config jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.filters OWNER TO postgres;

--
-- Name: graphs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.graphs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    dashboard_id uuid NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    config jsonb NOT NULL,
    dimensions jsonb NOT NULL,
    metrics jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT graphs_type_check CHECK ((type = ANY (ARRAY['bar'::text, 'line'::text, 'pie'::text, 'table'::text])))
);


ALTER TABLE public.graphs OWNER TO postgres;

--
-- Name: layouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.layouts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    definition jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.layouts OWNER TO postgres;

--
-- Name: processing_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.processing_configs (
    dashboard_id uuid NOT NULL,
    settings jsonb NOT NULL,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.processing_configs OWNER TO postgres;

--
-- Name: processing_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.processing_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    dashboard_id uuid,
    status text NOT NULL,
    message text,
    started_at timestamp without time zone,
    finished_at timestamp without time zone,
    CONSTRAINT processing_logs_status_check CHECK ((status = ANY (ARRAY['started'::text, 'success'::text, 'failed'::text])))
);


ALTER TABLE public.processing_logs OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role text NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['admin'::text, 'editor'::text, 'viewer'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: aggregated_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aggregated_data ALTER COLUMN id SET DEFAULT nextval('public.aggregated_data_id_seq'::regclass);


--
-- Name: aggregated_data aggregated_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aggregated_data
    ADD CONSTRAINT aggregated_data_pkey PRIMARY KEY (id);


--
-- Name: dashboard_access dashboard_access_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboard_access
    ADD CONSTRAINT dashboard_access_pkey PRIMARY KEY (user_id, dashboard_id);


--
-- Name: dashboards dashboards_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboards
    ADD CONSTRAINT dashboards_name_key UNIQUE (name);


--
-- Name: dashboards dashboards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboards
    ADD CONSTRAINT dashboards_pkey PRIMARY KEY (id);


--
-- Name: filters filters_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.filters
    ADD CONSTRAINT filters_name_key UNIQUE (name);


--
-- Name: filters filters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.filters
    ADD CONSTRAINT filters_pkey PRIMARY KEY (id);


--
-- Name: graphs graphs_dashboard_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphs
    ADD CONSTRAINT graphs_dashboard_id_name_key UNIQUE (dashboard_id, name);


--
-- Name: graphs graphs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphs
    ADD CONSTRAINT graphs_pkey PRIMARY KEY (id);


--
-- Name: layouts layouts_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.layouts
    ADD CONSTRAINT layouts_name_key UNIQUE (name);


--
-- Name: layouts layouts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.layouts
    ADD CONSTRAINT layouts_pkey PRIMARY KEY (id);


--
-- Name: processing_configs processing_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_configs
    ADD CONSTRAINT processing_configs_pkey PRIMARY KEY (dashboard_id);


--
-- Name: processing_logs processing_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_logs
    ADD CONSTRAINT processing_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_access_dashboard; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_dashboard ON public.dashboard_access USING btree (dashboard_id);


--
-- Name: idx_access_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_user ON public.dashboard_access USING btree (user_id);


--
-- Name: idx_agg_dashboard_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agg_dashboard_id ON public.aggregated_data USING btree (dashboard_id);


--
-- Name: idx_agg_dims_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agg_dims_gin ON public.aggregated_data USING gin (dims);


--
-- Name: idx_agg_graph_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agg_graph_id ON public.aggregated_data USING btree (graph_id);


--
-- Name: aggregated_data aggregated_data_dashboard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aggregated_data
    ADD CONSTRAINT aggregated_data_dashboard_id_fkey FOREIGN KEY (dashboard_id) REFERENCES public.dashboards(id) ON DELETE CASCADE;


--
-- Name: aggregated_data aggregated_data_graph_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aggregated_data
    ADD CONSTRAINT aggregated_data_graph_id_fkey FOREIGN KEY (graph_id) REFERENCES public.graphs(id) ON DELETE CASCADE;


--
-- Name: dashboard_access dashboard_access_dashboard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboard_access
    ADD CONSTRAINT dashboard_access_dashboard_id_fkey FOREIGN KEY (dashboard_id) REFERENCES public.dashboards(id) ON DELETE CASCADE;


--
-- Name: dashboard_access dashboard_access_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboard_access
    ADD CONSTRAINT dashboard_access_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: dashboards dashboards_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboards
    ADD CONSTRAINT dashboards_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: dashboards dashboards_layout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboards
    ADD CONSTRAINT dashboards_layout_id_fkey FOREIGN KEY (layout_id) REFERENCES public.layouts(id);


--
-- Name: graphs graphs_dashboard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphs
    ADD CONSTRAINT graphs_dashboard_id_fkey FOREIGN KEY (dashboard_id) REFERENCES public.dashboards(id) ON DELETE CASCADE;


--
-- Name: processing_configs processing_configs_dashboard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_configs
    ADD CONSTRAINT processing_configs_dashboard_id_fkey FOREIGN KEY (dashboard_id) REFERENCES public.dashboards(id) ON DELETE CASCADE;


--
-- Name: processing_logs processing_logs_dashboard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_logs
    ADD CONSTRAINT processing_logs_dashboard_id_fkey FOREIGN KEY (dashboard_id) REFERENCES public.dashboards(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ooNkpfSbGSz9uW0x9ohhoyNRfsRc1HaTCBC6TsYuRHsF9ei2s0PrpXtqQxMOQOd

